.component-button {
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;
}

.btn:hover {
    cursor: pointer;
    background: #757873;
}

.component-button.wide {
    width: 50%;
}

.component-button button {
    background: #e0e0e0;
    color: #2080d8;
    border: 0;
    font-size: 2em;
    margin: 0 1px 0 0;
    flex: 1 0 auto;
    /*color de botones*/
}

.component-button.gray button {
    background: #e0e0e0;
    color: #000;
    /*color de operadores*/
}

.component-button.gray button:hover { 
    background: #757873;
    /*color al presionar operadores*/
}

.component-button.blue button {
    background: #2080d8;
    color: #eee;
    /*color del = */
}

.component-button.blue button:hover {
    background: #757873;
    /*color al presionar = */
}